## Dataset and approach:
Data is from Kaggle competiotion [Home Credit Default Risk](https://www.kaggle.com/c/home-credit-default-risk). 

I implement an automated feature engineering approach with an open-source library [Featuretools](https://www.featuretools.com/).

In [1]:
import pandas as pd
import numpy as np

In [2]:
import featuretools as ft

In [3]:
# Read in the datasets  
app_train = pd.read_csv('../../Home_Credit_data/data/application_train.csv', sep=',')
app_test = pd.read_csv('../../Home_Credit_data/data/application_test.csv')
bureau = pd.read_csv('../../Home_Credit_data/data/bureau.csv')
bureau_balance = pd.read_csv('../../Home_Credit_data/data/bureau_balance.csv')
cash = pd.read_csv('../../Home_Credit_data/data/POS_CASH_balance.csv')
credit = pd.read_csv('../../Home_Credit_data/data/credit_card_balance.csv')
previous = pd.read_csv('../../Home_Credit_data/data/previous_application.csv')
installments = pd.read_csv('../../Home_Credit_data/data/installments_payments.csv')

![](../images/home_credit_data.png)

In [9]:
datasets_list = [app_train, app_test, bureau, bureau_balance, cash, credit, previous, installments]

In [10]:
# replace the anomalous values
for ds in datasets_list:
    ds.replace({365243: np.nan}, inplace=True)

In [ ]:
# Join train and test set to make sure, that the same feature are created for each set. 
# Later it will be separated.

In [ ]:
app_test['TARGET'] = np.nan
app = app_train.append(app_test, ignore_index=True)

### Featuretools

In [54]:
# Entity set to keep track of all the data
es = ft.EntitySet(id = 'clients')

#### Variable Types

In [55]:
import featuretools.variable_types as vtypes

In [56]:
app_types = {}

In [57]:
# Boolean variables

for col in app.columns:
    if (app[col].nunique() == 2) and (app[col].dtype == float):
        app_types[col] = vtypes.Boolean
        
del app_types['TARGET']

print('Number of Boolean variables: {}'.format(len(app_types)))

Number of Boolean variables: 32

In [58]:
# Ordinal variables
app_types['REGION_RATING_CLIENT'] = vtypes.Ordinal
app_types['REGION_RATING_CLIENT_W_CITY'] = vtypes.Ordinal
app_types['HOUR_APPR_PROCESS_START'] = vtypes.Ordinal

In [59]:
previous_types = {}

for col in previous.columns:
    if ( previous[col].nunique() == 2) and (previous[col].dtype == float):
        previous_types[col] = vtypes.Boolean
        
print('Number of Boolean variables: {}'.format(len(previous_types)))

Number of Boolean variables: 2

Drop `SK_ID_CURR` in `installments`, `credit`, `cash` because I will link to these dataset through `previous` and `SK_ID_PREV`.

To avoid `featuretools` to create useless statistical aggregations of ids.

In [61]:
installments = installments.drop(columns = ['SK_ID_CURR'])
credit = credit.drop(columns = ['SK_ID_CURR'])
cash = cash.drop(columns = ['SK_ID_CURR'])

In [63]:
# Add Entities to EntitySet

es = es.entity_from_dataframe(entity_id = 'app', dataframe = app, index = 'SK_ID_CURR', variable_types=app_types)
es = es.entity_from_dataframe(entity_id = 'bureau', dataframe = bureau, index = 'SK_ID_BUREAU')
es = es.entity_from_dataframe(entity_id = 'previous', dataframe = previous, index = 'SK_ID_PREV', variable_types= previous_types )

In [75]:
# Entities without unique index. We need to add.
es = es.entity_from_dataframe(entity_id = 'bureau_balance', dataframe = bureau_balance, 
                              make_index = True, index = 'bureaubalance_index')

es = es.entity_from_dataframe(entity_id = 'cash', dataframe = cash, 
                              make_index = True, index = 'cash_index')

es = es.entity_from_dataframe(entity_id = 'installments', dataframe = installments,
                              make_index = True, index = 'installments_index')

es = es.entity_from_dataframe(entity_id = 'credit', dataframe = credit,
                              make_index = True, index = 'credit_index')

In [73]:
es

Entityset: clients
  Entities:
    app [Rows: 356255, Columns: 122]
    bureau [Rows: 1716428, Columns: 17]
    previous [Rows: 1670214, Columns: 37]
  Relationships:
    No relationships

In [ ]:
# Define relationship
r_app_bureau = ft.Relationship(es['app']['SK_ID_CURR'], es['bureau']['SK_ID_CURR'])

r_bureau_balance = ft.Relationship(es['bureau']['SK_ID_BUREAU'], es['bureau_balance']['SK_ID_BUREAU'])
r_app_previous = ft.Relationship(es['app']['SK_ID_CURR'], es['previous']['SK_ID_CURR'])
r_previous_cash = ft.Relationship(es['previous']['SK_ID_PREV'], es['cash']['SK_ID_PREV'])
r_previous_installments = ft.Relationship(es['previous']['SK_ID_PREV'], es['installments']['SK_ID_PREV'])
r_previous_credit = ft.Relationship(es['previous']['SK_ID_PREV'], es['credit']['SK_ID_PREV'])

In [76]:
# Add relationships to EntitySet

In [ ]:
es = es.add_relationships([r_app_bureau, r_bureau_balance, r_app_previous, r_previous_cash, r_previous_installments, r_previous_credit])

#### Feature primitives

In [77]:
primitives = ft.list_primitives()

In [79]:
primitives

,name,type,description
0,n_most_common,aggregation,Finds the N most common elements in a categori...
1,max,aggregation,Finds the maximum non-null value of a numeric ...
2,skew,aggregation,Computes the skewness of a data set.
3,trend,aggregation,Calculates the slope of the linear trend of va...
4,mode,aggregation,Finds the most common element in a categorical...
5,any,aggregation,Test if any value is 'True'.
6,min,aggregation,Finds the minimum non-null value of a numeric ...
7,sum,aggregation,Counts the number of elements of a numeric or ...
8,time_since_last,aggregation,Time since last related instance.
9,all,aggregation,Test if all values are 'True'.
10,percent_true,aggregation,Finds the percent of 'True' values in a boolea...
11,avg_time_between,aggregation,Computes the average time between consecutive ...
12,mean,aggregation,Computes the average value of a numeric feature.
13,count,aggregation,Counts the number of non null values.
14,std,aggregation,Finds the standard deviation of a numeric feat...
15,num_unique,aggregation,Returns the number of unique categorical varia...
16,median,aggregation,Finds the median value of any feature with wel...
17,last,aggregation,Returns the last value.
18,num_true,aggregation,Finds the number of 'True' values in a boolean.
19,minutes,transform,Transform a Timedelta feature into the number ...
20,cum_count,transform,Calculates the number of previous values of an...
21,longitude,transform,Returns the second value on the tuple base fea...
22,year,transform,Transform a Datetime feature into the year.
23,days,transform,Transform a Timedelta feature into the number ...
24,cum_mean,transform,Calculates the mean of previous values of an i...
25,not,transform,"For each value of the base feature, negates th..."
26,isin,transform,"For each value of the base feature, checks whe..."
27,month,transform,Transform a Datetime feature into the month.
28,hour,transform,Transform a Datetime feature into the hour.
29,or,transform,"For two boolean values, determine if one value..."
...,...,...,...
32,latitude,transform,Returns the first value of the tuple base feat...
33,is_null,transform,"For each value of base feature, return 'True' ..."
34,mod,transform,Creates a transform feature that divides two f...
35,cum_min,transform,Calculates the min of previous values of an in...
36,weeks,transform,Transform a Timedelta feature into the number ...
37,cum_max,transform,Calculates the max of previous values of an in...
38,add,transform,Creates a transform feature that adds two feat...
39,second,transform,Transform a Datetime feature into the second.
40,numwords,transform,Returns the words in a given string by countin...
41,days_since,transform,"For each value of the base feature, compute th..."
42,diff,transform,Compute the difference between the value of a ...
43,years,transform,Transform a Timedelta feature into the number ...
44,minute,transform,Transform a Datetime feature into the minute.
45,subtract,transform,Creates a transform feature that subtracts two...
46,multiply,transform,Creates a transform feature that multplies two...
47,months,transform,Transform a Timedelta feature into the number ...
48,seconds,transform,Transform a Timedelta feature into the number ...
49,time_since,transform,Calculates time since the cutoff time.
50,weekday,transform,Transform Datetime feature into the boolean of...
51,absolute,transform,Absolute value of base feature.
52,time_since_previous,transform,Compute the time since the previous instance.
53,and,transform,"For two boolean values, determine if both valu..."
54,day,transform,Transform a Datetime feature into the day.
55,cum_sum,transform,Calculates the sum of previous values of an in...
56,weekend,transform,Transform Datetime feature into the boolean of...
57,week,transform,Transform a Datetime feature into the week.
58,negate,transform,Creates a transform feature that negates a fea...
59,percentile,transform,"For each value of the base feature, determines..."
60,hours,transform,Transform a Timedelta feature into the number ...
61,divide,transform,Creates a transform feature that divides two f...